In [ ]:
###################### Instalação de Módulos

%pip install pandas sqlalchemy pymysql snowflake-connector-python snowflake-sqlalchemy ipython-sql

In [1]:
###################### Importação dos Módulos

from os import getenv
import pandas as pd
from sqlalchemy import create_engine
from snowflake.sqlalchemy import URL
from dotenv import load_dotenv

c:\Users\Hemerson Lacovic\AppData\Local\Programs\Python\Python310\lib\site-packages\snowflake\sqlalchemy\base.py:1068: SAWarning: The GenericFunction 'flatten' is already registered and is going to be overridden.
  functions.register_function("flatten", flatten)

In [2]:
##################### Load das Variáveis

load_dotenv()

True

In [3]:
##################### Load SQL Magic

%load_ext sql

In [4]:
###################### Conexão Mysql

user = getenv('MYSQL_USER')
password = getenv('MYSQL_PASSWORD')
database = getenv('MYSQL_DATABASE')
mysql_conn_string = f'mysql+pymysql://{user}:{password}@localhost/{database}'

mysql = create_engine(mysql_conn_string)

In [5]:
##################### Conexão Snowflake

snowflake_conn_string = URL(
    account=getenv('SNOWFLAKE_ACCOUNT'),
    user=getenv('SNOWFLAKE_USER'),
    password= getenv('SNOWFLAKE_PASSWORD'),
    database=getenv('SNOWFLAKE_DATABASE'),
    schema='public',
    insecure_mode=True  # Ignora a verificação de certificado SSL
)

snowflake = create_engine(snowflake_conn_string)

In [6]:
##################### ETL do Mysql para o snowflake staging

oltp_tables = ['category', 'customer', 'employee', 'orderdetail', 'product', 'salesorder']

for table in oltp_tables:
    pd.read_sql_table(table, mysql).to_sql(
        name=table,
        con=snowflake,
        schema='staging',
        if_exists='replace',
        index=False
    )

In [33]:
##################### Conexão com o snowflake

# %sql $mysql_conn_string

%sql $snowflake_conn_string

In [89]:
%%sql

/* fVenda */
CREATE OR REPLACE TABLE dw.F_VENDAS AS select
	s."orderId" as ID_Pedido,
	o."productId" as ID_Produto,
	s."custId" as ID_Cliente,
	s."employeeId" as ID_Funcionario,
	s."orderDate" as Data_Pedido,
	o.quantity as Quantidade_Vendida,
	o."unitPrice" as Preco_Unitario,
	o.discount as Desconto,
	(o.quantity * o."unitPrice" * (1 - o.discount)) as Total_Venda
from 
staging.salesorder s
inner join staging.orderdetail o on o."orderId" = s."orderId";

   mysql+pymysql://root:***@localhost/northwind
 * snowflake://Hemex001:***@MRYXHCM-VH01180/northwind/public?insecure_mode=True
1 rows affected.

[('Table F_VENDAS successfully created.',)]

In [ ]:
%%sql

/* dProduto */
CREATE OR REPLACE TABLE dw.D_PRODUTO AS
WITH Vendas_Produto AS (
    SELECT 
        o."productId" AS ID_Produto,
        SUM(o.quantity * o."unitPrice" * (1 - o.discount)) AS total_venda
    FROM 
        staging.orderdetail o
    GROUP BY 
        o."productId"
)
SELECT 
    p."productId" AS ID_Produto,
    p."productName" AS Nome_Produto,
    p."categoryId" AS ID_Categoria,
    p."unitPrice" AS Preco_Unitario,
    CASE 
        WHEN COALESCE(vp.total_venda, 0) < 1000 THEN 'Em Queda'
        WHEN COALESCE(vp.total_venda, 0) BETWEEN 1000 AND 5000 THEN 'Estável'
        ELSE 'Em Alta'
    END AS Status_Venda
FROM 
    staging.product p
LEFT JOIN 
    Vendas_Produto vp ON p."productId" = vp.ID_Produto;

In [ ]:
%%sql

/* dCliente */
CREATE OR REPLACE TABLE dw.D_CLIENTE AS
SELECT 
    c."custId" AS ID_Cliente,
    c."contactName" AS Nome_Cliente,
    case 
    	when c.region is null then 'Não Informado'
    	else c.region 
    end as Regiao,
    count(s."orderId") AS Total_Pedidos,
    sum(o.quantity * o."unitPrice" * (1 - o.discount)) AS Total_Gasto 
from 
    staging.customer c
inner join 
    staging.salesorder s ON c."custId" = s."custId"
inner join 
    staging.orderdetail o ON s."orderId" = o."orderId"
GROUP BY 
    c."custId", c."contactName", c.region;

In [127]:
%%sql

/* dFuncionario */
CREATE OR REPLACE TABLE dw.D_FUNCIONARIO AS
select 
	e."employeeId" as ID_Funcionario,
	concat(e.lastname, ', ', e.firstname) AS Nome_Cliente,
	e.title as Cargo,
	e."hireDate" as Data_Admissao,
  	count(s."orderId") AS Total_Vendas,
    SUM(o.quantity * o."unitPrice" * (1 - o.discount)) AS Valor_Total_Vendas,
	SUM(o.quantity * o."unitPrice" * (1 - o.discount)) * 0.05 AS Comissao	
from staging.employee e
inner join
	staging.salesorder s on e."employeeId" = s."employeeId"
inner join 
	staging.orderdetail o on s."orderId" = o."orderId"
group by
	e."employeeId", e.lastname, e.firstname, e.title, e."hireDate";

   mysql+pymysql://root:***@localhost/northwind
 * snowflake://Hemex001:***@MRYXHCM-VH01180/northwind/public?insecure_mode=True
1 rows affected.

[('Table D_FUNCIONARIO successfully created.',)]

In [ ]:
%%sql

/* dCategoria */
CREATE OR REPLACE TABLE dw.D_CATEGORIA AS
select
	c."categoryId" as ID_Categoria,
	c."categoryName" as Nome_Categoria,
	c.description as Descricao
from staging.category c;

In [139]:
%%sql

/* dTempo */
CREATE OR REPLACE TABLE dw.D_TEMPO AS
select 
    s."orderDate"  as Data_Pedido,
    year(s."orderDate") as Ano,
    month(s."orderDate") as Mes, 
    quarter(s."orderDate") as Trimestre 
from 
    staging.salesorder s
group by 
    s."orderDate";

   mysql+pymysql://root:***@localhost/northwind
 * snowflake://Hemex001:***@MRYXHCM-VH01180/northwind/public?insecure_mode=True
1 rows affected.

[('Table D_TEMPO successfully created.',)]